body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'Elice_Bold';
    src: url(./assets/fonts/Elice_Bold.ttf);
}

@font-face {
    font-family: 'Elice_Regular';
    src: url(./assets/fonts/Elice_Regular.ttf);
}

@font-face {
    font-family: 'JalnanOTF';
    src: url(./assets/fonts/JalnanOTF.otf);
}

@font-face {
    font-family: 'Ttangs_Light';
    src: url(./assets/fonts/Ttangs_Light.otf);
    /* format('woff2'); */
    /* font-weight: 700;
    font-style: normal; */
}

@font-face {
    font-family: 'Ttangs_Bold';
    src: url(./assets/fonts/Ttangs_Bold.otf);
    /* format('woff2'); */
    /* font-weight: 700;
    font-style: normal; */
}

@font-face {
    font-family: 'Ttangs_Medium';
    src: url(./assets/fonts/Ttangs_Medium.otf);
    /* format('woff2'); */
    /* font-weight: 700;
    font-style: normal; */
}
